<div class="example" ng-controller="CameraCtrl">
    <h2 class="example-title">Jumbotron</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="jumbotron-contents">
              <h1 class="text-center"> Calling WebRTC... </h1>
              <hr />
              <p>
                <input type="number" name="input" ng-model="fps" min="1" max="99" > 
                FPS: <strong>{{ fps }}</strong>
              </p>
              <p ng-show="streaming">Frame: {{frame}}</p>
              <p> 
                <button ng-hide="is_using" type="button" class="btn btn-{{captureStatus}}" ng-click="capture()">Capture</button>
                <button ng-show = "capture_num> 0"type="button" class="btn btn-{{processStatus}}" ng-click="process()">Process</button>
              </p>

              <div class="row" ng-show="streaming">
                <div class="text-center">
                  <p class="text-center">Face!</p>
                  <image src="{{src_face}}" ng-show="src_face" width="50px" height="50px"  />
                </div>
                <hr />
              </div>
                <div class="row" ng-show="streaming">
                    <div class="col-md-4">                      
                        <p class="text-center">Original Image (processed from opencv)</p>
                        <image src="{{src_orig}}"  ng-show="src_orig"  />
                    </div>
                    <div class="col-md-4">                    
                        <p class="text-center">Gray Image (processed from opencv)</p>
                        <image src="{{src_gray}}"  ng-show="src_gray"  />
                    </div>
                    <div class="col-md-4">                      
                        <p class="text-center">HSV Image (processed from opencv)</p>
                        <image src="{{src_hsv}}" ng-show="src_hsv" />
                    </div>
                </div>

                <div class="row" ng-show="streaming">
                    <div class="col-md-4">
                        <p class="text-center">VIDEO TAG</p>
                        <video id="live" width="320" height="240" autoplay></video>
                    </div>

                    <div class="col-md-4">                      
                        <p class="text-center">CANVAS TAG</p>
                        <canvas width="320" id="canvas" height="240"></canvas>
                    </div>

                    <div class="col-md-4">
                        <p class="text-center">Caman canvas!</p>
                        <canvas width="320" id="processed_canvas" height="240"></canvas>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>